### Tuple

* Tuple is a collection of objects
* Tuple uses parenthesis
* Tuple is immutable i.e not changeable
* Iterating through tuple is fast when compared with the list

In [1]:
# Creating a tuple

t=(12,"hello",90.8)  # different data types
print(t)
print(type(t))

(12, 'hello', 90.8)
<class 'tuple'>

In [2]:
t=(10,20,30,40)
#    0  1  2  3   # forward indexing
#  -4 -3 -2 -1   # backward indexing

(10, 20, 30, 40)

In [3]:
t[2]

30

In [4]:
t[-2]

30

In [5]:
print(t[1])

20

In [6]:
print(t[::-1])

(40, 30, 20, 10)

In [7]:
# slicing  [start:end:step]

t[::2]

(10, 30)

In [8]:
t[1::2]

(20, 40)

In [10]:
# tuple is immutable

t[2]=2000

TypeError: 'tuple' object does not support item assignment

In [14]:
# creating tuple with a single value 

t=(90)
print(type(t))

<class 'int'>

In [15]:
t=(90,)
print(type(t))

<class 'tuple'>

In [21]:
# tuple packing

t=10,20,30
print(type(t))
print(t)
x,y,z=t  # tuple packing
print(x)
print(y)
print(z)

<class 'tuple'>
(10, 20, 30)
10
20
30

In [22]:
# tuple methods
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
t=(90,87,67,45,87)
print(t.count(87))
print(t.count(67))

2
1

In [26]:
t.index(45)

3

In [27]:
# Iterating through a tuple

for i in t:
    print(i)

90
87
67
45
87

In [28]:
for i in t:
    print(i,end=" ")

90 87 67 45 87

In [29]:
# membership operator in 

print(90 in t)

True

In [30]:
print(2 in t)

False

In [31]:
# nested tuple

t=(90,89,(10,20,30))
print(t)

(90, 89, (10, 20, 30))

In [32]:
t[2]

(10, 20, 30)

In [33]:
t[2][1]

20

In [34]:
t[2][0]

10

### Dictionary


* Dictionary is a collection of items or collection of key and value pair
* In dictionary keys acts as a index to get the values

### creating a dictionary

### d={key:value,key1:value1}

In [35]:
d={1:10,2:20,3:30}

In [36]:
d

{1: 10, 2: 20, 3: 30}

In [37]:
d.keys()

dict_keys([1, 2, 3])

In [38]:
d.values()

dict_values([10, 20, 30])

In [39]:
d.items()

dict_items([(1, 10), (2, 20), (3, 30)])

In [41]:
# student dictionary

st={"bhanu":89,"surya":90,"Ramya":85}
st.keys()

dict_keys(['bhanu', 'surya', 'Ramya'])

In [42]:
# to get student surya marks

st["surya"]  # accessing by using keys as index

90

In [43]:
st[90]  # not possible

KeyError: 90

In [44]:
st["Ramya"]

85

In [48]:
# print sum of all the marks

marks=st.values()
total=sum(marks)
print("total marks of studens: ",total)

total marks of studens:  264

In [49]:
# average of the all students marks

In [50]:
# changing dictionary values

st

{'bhanu': 89, 'surya': 90, 'Ramya': 85}

In [52]:
st["surya"]=95
st

{'bhanu': 89, 'surya': 95, 'Ramya': 85}

In [53]:
# adding items to a dictionary

st["Lokesh"]=86   # d[key]=value
st

{'bhanu': 89, 'surya': 95, 'Ramya': 85, 'Lokesh': 86}

In [83]:
# print student name who is having maximum marks

mv=max(st.values())

for k,v in st.items():
    if v==mv:
        print(k)

Ramya

In [54]:
# length of a dictionary

len(st)

4

In [55]:
# Iterating through a dictionary

for k,v in d.items():
    print(k," ",v)

1   10
2   20
3   30

In [56]:
for k in d.keys():
    print(k)

1
2
3

In [57]:
for v in d.values():
    print(v)

10
20
30

In [58]:
print(dir(d),end=" ")

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [61]:
# copy

d1={1:10,2:20,3:30}
d2={4:40,5:50,6:60}
print(d1)
d1=d2.copy()  # copying d2 into d1
print(d1)
print(d2)

{1: 10, 2: 20, 3: 30}
{4: 40, 5: 50, 6: 60}
{4: 40, 5: 50, 6: 60}

In [62]:
# update

st.update({"Ramya":98})
st

{'bhanu': 89, 'surya': 95, 'Ramya': 98, 'Lokesh': 86}

In [63]:
st.get("Lokesh")   # to get thevalue of a given key

86

In [64]:
d

{1: 10, 2: 20, 3: 30}

In [66]:
d.pop(2)

20

In [67]:
d

{1: 10, 3: 30}

In [68]:
d.popitem()

(3, 30)

In [69]:
d

{1: 10}

In [70]:
d.clear()

In [71]:
d

{}

In [72]:
del d

In [73]:
d

NameError: name 'd' is not defined

In [74]:
# fromkeys

x=(1,2,3)
y=(900)

d=dict.fromkeys(x,y)
d

{1: 900, 2: 900, 3: 900}

In [75]:
# setdefault -> returns value if key is present,
# otherwise returns none or default value

d={1:"A",2:"B",3:"C"}
p=d.setdefault(1)   # if key is presnt
print("default",p)

default A

In [77]:
p1=d.setdefault(4) # if key is not present
print("default",p1)

default None

In [78]:
p2=d.setdefault(5,'Y')
print("default",p2)

default Y

### Sets
* Set is a unordered collection of items.
* Every set element is unique
* set doesnot allows any duplicate values

In [1]:
# creating set

s={10,20,30}
print(type(s))

<class 'set'>

In [2]:
# since sets are unordered , we can't access or change an element of a set

s1={10,"data",(90,86,54)}
s1

{(90, 86, 54), 10, 'data'}

In [3]:
s1[0]

TypeError: 'set' object is not subscriptable

In [4]:
print(dir(s),end=" ")

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
# add()  -> to add a single item to a set

s1.add(108)
s1

{(90, 86, 54), 10, 108, 'data'}

In [6]:
s1.add("hello world")
s1

{(90, 86, 54), 10, 108, 'data', 'hello world'}

In [7]:
# update() -> to add multiple elements to a set 

s1.update((101,203))
s1

{(90, 86, 54), 10, 101, 108, 203, 'data', 'hello world'}

In [8]:
# removing set element

s1

{(90, 86, 54), 10, 101, 108, 203, 'data', 'hello world'}

In [9]:
s1.remove("hello world")

In [10]:
s1

{(90, 86, 54), 10, 101, 108, 203, 'data'}

In [11]:
# pop()

s1.pop()

101

In [12]:
s1.pop()

10

In [13]:
# clear a set

s1.clear()

In [14]:
s1

set()

In [15]:
# set of unique elements

s=set("dataanalysis")
s

{'a', 'd', 'i', 'l', 'n', 's', 't', 'y'}

In [16]:
s1={10,290,90,76,10}
s1

{10, 76, 90, 290}

In [17]:
# set operations

A={1,2,3,4,5}
B={5,6,7,8,9}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
A.intersection(B)

{5}

In [19]:
A-B    # Difference

{1, 2, 3, 4}

In [20]:
B-A

{6, 7, 8, 9}

In [21]:
print(A)
print(B)
A.difference(B)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

{1, 2, 3, 4}

In [22]:
# symmetric difference

print(A)
print(B)
A.symmetric_difference(B)  # both items of A and B, except common items

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

{1, 2, 3, 4, 6, 7, 8, 9}

In [23]:
x={1,2,3}
y={7,8,9}
x=y.copy()

In [24]:
x

{7, 8, 9}

In [25]:
s1={1,2,3}  # subset
s2={1,2,3,4,5,6,7,8,9,10}  # superset
s1.issubset(s2)

True

In [27]:
s2.issuperset(s1)

True

In [28]:
# set membership test

print(10 in s2)

True

In [30]:
# iterating through a set

for i in s1:
    print(i)

1
2
3

In [34]:
s1={90,89,87,67,45,34,22}
print(max(s1))
print(min(s1))
print(len(s1))
print(sum(s1))
print(sorted(s1))
print(sorted(s1,reverse=True))

90
22
7
434
[22, 34, 45, 67, 87, 89, 90]
[90, 89, 87, 67, 45, 34, 22]

### String

* String is a group of characters
* strings are enclosed with single quotes or double quotes

In [35]:
s="welcome"
print(s)
print(type(s))

welcome
<class 'str'>

In [40]:
# accessing

print(s[0])
print(s[-1])
print(s[::2])
print(s[1::2])
print(s[::-1])

w
e
wloe
ecm
emoclew

In [41]:
# welcome
# o/p: come
print(s[3:])

come

In [42]:
# welcome
# o/p: elcom

print(s[1:6])

elcom

In [43]:
print(dir(s),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [44]:
s="python"
s.isalpha() # returns true if the given string contains only alphabets ,otherwise returns false

True

In [45]:
s1="89python"
s1.isalpha()

False

In [46]:
s="9988"
s.isdigit() # returns true if string contains only digits,otherwise return false

True

In [48]:
# isalnum() -> returns true if the string contains alphabet or number

s="super30"
print(s.isalnum())
s1="233ghh@##"
print(s1.isalnum())

True
False

In [50]:
s="python"
s.islower()  # returns true if the string characters are in lowercase otherwise return false

True

In [51]:
s="DATA"
s.isupper() # returns true if the string characters are in uppercase otherwise return false

True

In [52]:
s="hello world"
s.upper() # to convert string into upper case

'HELLO WORLD'

In [53]:
s1="TITANIC"
s1.lower()  # to convert string into lowercase

'titanic'

In [54]:
s="pyt@ho@n"
s.split('@')

['pyt', 'ho', 'n']

In [55]:
s="hello world"
s.split()       # splits the string by using spaces by default

['hello', 'world']

In [56]:
s="welcome "
s.strip()   # used to remove the spaces

'welcome'

In [57]:
s=" welcome "
s.lstrip()   # to remove left side spaces

'welcome '

In [59]:
s.rstrip()   # to remove right side spaces

' welcome'

In [60]:
s="welcome to the world"
s.title()

'Welcome To The World'

In [61]:
s.capitalize()

'Welcome to the world'

In [63]:
s="python123"
s.swapcase()  # swap the case i.e convert upper case into lowercase and lowercase into uppercase

'PYTHON123'

In [64]:
"hello".swapcase()

'HELLO'

In [65]:
s="Machine learning"
s.index('M')

0

In [66]:
s.index('g')

15

In [67]:
s.count('i')

2

In [68]:
# to know the count of a substring inside a string

s="python workshop python"
s.count('python')

2

In [69]:
# write a function to know whether the given number is even or not

### Functions

* Function is a block of code which is used to perform a specific task

In [73]:
n=int(input("enter a number: "))

def isEven():
    if n%2==0:
        print("given number is a even number")
    else:
        print("given number is odd number")
isEven()

enter a number: 42
given number is a even number

In [74]:
# write a function to swap the numbers

# i/p: a=10 , b=20  before swapping
# o/p: a=20,  b=10  after swapping

In [ ]:
# write a function to find the greatest among given 3 numbers

# i/p: 78, 90,120
# o/p : 120