* ipynb -> Interactive python notebook

## Markdown syntax

### Shortcuts

* esc + m -> to convert coding cell into markdown cell
* esc + y -> to convert markdown cell into coding cell
* esc + a -> for new cell above
* esc + b -> for new cell below
* esc + h -> shortcuts
* Shift + Enter -> To run  the cells

# Largest Heading
## second largest heading
### third largest heading
#### h4
##### h5
######  the smallest heading

### Styling text


### **This is bold text**
### *This is italic*
###  ***This is both bold and italic***
### ~~This is strike through~~

### Unordered list

* Cities

* Vijayawada
* Guntur
* Tirupati
* Ongole


### Ordered list

* Department

1. ECE
2. EEE
3. CSE
4. IT
5. MECH
6. Civil

### Inserting a link

* [Google.com](https://www.google.com)
* [Gmail.com](https://www.gmail.com)
* [Facebook](https://www.facebook.com)

### Creating link to an image

[Python](python.jpg)

### Adding image to markdown

### <img src="python.jpg" style="height:100px; weight:100px;">

In [2]:
### comments

# single line comment
"""
Multi 
    Line
        Comments
"""

'\nMulti \n    Line\n        Comments\n'

In [8]:
### Datatypes in python 

# int,float,string,bool

a=23
print(type(a))
b=90.87
print(type(b))
c="mahesh"
print(type(c))
d=True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Data structures in python

* List
* Tuple
* Dictionary
* Set

### List

* List is a collection of elements, creating by using square brackets []
* List elements are seperated by commas
* List is mutable i,e changeable

In [11]:
# Creating a list

l=[10,20,"python",90.8]  # mixed data types
print(l)
print(type(l))

[10, 20, 'python', 90.8]
<class 'list'>

In [16]:
l=[10,20,30,40,50]
print(l)
print(type(l))
print(sum(l))   # sum of all elements of a list
print(max(l))   # max element of a list
print(min(l))   # min element of a list
print(len(l))  # no of elements inside a list
print(sorted(l))
print(sorted(l,reverse=True))

[10, 20, 30, 40, 50]
<class 'list'>
150
50
10
5
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [17]:
# Concatenation  +
l1=[1,2,3,4]
l2=[11,12,13,14]
l1+l2

[1, 2, 3, 4, 11, 12, 13, 14]

In [18]:
# Repetition *

l1=[1,2,3]
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
print(dir(l),end=" ")

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [21]:
# append  -> to add element at the end of a list

l=[111,23,45,67]
l.append(89)
print(l)

[111, 23, 45, 67, 89]

In [23]:
l1=[10,20,30]
l1.append([40,50])
l1

[10, 20, 30, [40, 50]]

In [22]:
# extend

l1=[10,20,30]
l2=[40,50,60]
print(l1)
print(l2)
l1.extend(l2)  # add l2 elements into l1
print(l1)
print(l2)

[10, 20, 30]
[40, 50, 60]
[10, 20, 30, 40, 50, 60]
[40, 50, 60]

In [28]:
# indexing 

# forward index 0,1,2,
# backward index -1,-2,-3..

l=[10, 20, 33,45,89]
#   0   1  2  3  4   # forward index
#   -5 -4 -3  -2 -1  # backward index

print(l[2])
print(l[-3])
print(l[0])  # to access 1st element of a list
print(l[-1]) # to access last element of a list

33
33
10
89

In [35]:
# slicing   [start:end:step]

l=[10,20,30,40,50,60,70,80]
# o/p : [40,50,60]

print(l[3:5+1:1])
print(l[::2])   # alternate elements
print(l[1::2])

[40, 50, 60]
[10, 30, 50, 70]
[20, 40, 60, 80]

In [36]:
# reverse of a list
print(l[::-1])

[80, 70, 60, 50, 40, 30, 20, 10]

In [31]:
for i in range(11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [37]:
# index

l=[12,34,56,78,90,12,67]
l.index(78)   # index

3

In [38]:
l.count(12)

2

In [40]:
l.count(90)

1

In [41]:
l.index(12)

0

In [44]:
# list is mutable

l=[12,34,56,78]
print(l)
l[2]=200
print(l)

[12, 34, 56, 78]
[12, 34, 200, 78]

In [45]:
l

[12, 34, 200, 78]

In [48]:
l=[12,23,90]
l.reverse()
l

[90, 23, 12]

In [49]:
l.pop()

12

In [50]:
l.clear()

In [51]:
l

[]

In [52]:
del l

In [53]:
l

NameError: name 'l' is not defined